<footer class="footer text-faded text-center py-5">
	<div class="container">
		<p class="m-0 small">Hecho con <img src="img/heart.gif" height="15px"> por <a class="text-expanded" href="https://github.com/RodolfoFerro">Rodolfo Ferro</a> en:</p>
		<a class="text-expanded" href="https://futurelab.mx"><img src="img/flab.png" height="80px"/></a>
	</div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>